<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmegyesi.seclass.sdpvocabquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.LoginRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.TakeQuizActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.RegisterNewUserActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.QuizMainMenuActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.CreateNewQuizActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.AddQuizWordActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.RemoveQuizActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.ScoreForQuizActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.StatsForStudentActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.StatsForQuizActivity" />
        <activity android:name="com.dmegyesi.seclass.sdpvocabquiz.QuizSelectActivity"></activity>
    </application>

</manifest>